extends layout

block content
        div(ng-controller="RoomController")
            div.row-fluid
                ul.nav.nav-tabs
                    li(ng-repeat="room in rooms", ng-class="{active: selectedRoom==room}" )
                            a(href="#", ng-click="setActiveRoom(room)", data-toggle="tab", ng-dblclick="leaveRoom(room)") {{room.name}}
            div.row-fluid
                div.span10.messages(ng-auto-scroll="selectedRoom.messages")
                    ul
                        li(ng-repeat="message in selectedRoom.messages")
                            div.left {{message.user}}
                            div.middle {{message.content}}
                            div.right {{ message.date | date:'HH:mm:ss' }}
                        li.text-error(ng-hide="errorMessage==null", style="text-align: center") {{errorMessage}}
                div.span2.users
                    ul
                        li(ng-repeat="user in selectedRoom.users | orderBy:'username'")
                            {{user.username}}
        div.row-fluid(style="margin-top: 40px", ng-controller="MessageController")
            div.span8
                input(style="width: 90%;", ng-model="message", ui-keyup="{'enter':'sendmsg()'}")
            div.span2
                button.btn.btn-primary(ng-click="sendmsg()") Send