!!!
html(ng-app="palaver")
  head
    title= title
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='css/site.css')
    link(rel='stylesheet', href='angular-ui/angular-ui.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js')
    script(src='angular-ui/angular-ui.min.js')
    script(src='socket.io/socket.io.js')
    script(src='http://underscorejs.org/underscore-min.js')
    script(src='js/controllers.js')
    script(src='js/modules.js')
    script(src='js/services.js')
    script(src='bootstrap/js/bootstrap.js')
    body
      div.container-fluid
        div.row-fluid(ng-controller="RoomController")
          div.span10.messages
            ul
              li(ng-repeat="message in messages") 
                div.left {{message.user}}
                div.middle {{message.content}}
                div.right {{ message.date | date:'HH:mm:ss' }}
           div.span2.users
            ul
              li(ng-repeat="user in users")
                {{user.username}}
       div.row-fluid(style="padding-top: 40px", ng-controller="MessageController")
          div.span6
            input(style="width: 800px; margin-left: 20px", ng-model="message", ui-keyup="{'enter':'sendmsg()'}")
          div.span2
            h2 
              a(href="", ng-click="sendmsg()") send
