!!!
html(ng-app="palaver")
  head
    title= title
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='css/site.css')
    link(rel='stylesheet', href='angular-ui/angular-ui.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js')
    script(src='angular-ui/angular-ui.min.js')
    script(src='socket.io/socket.io.js')
    script(src='http://underscorejs.org/underscore-min.js')
    script(src='js/controllers.js')
    script(src='js/modules.js')
    script(src='js/services.js')
    script(src='bootstrap/js/bootstrap.js')
    body
      div.container-fluid
          block content