!!!
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/site.css')
    style
      body { padding-top: 60px }

    body
      div.container-fluid
        div.row-fluid
          div.span10.messages
            ul
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              li hello
              
          div.span2.users
            ul
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user
              li user

        div.row-fluid(style="padding-top: 40px")
          div.span6
            input(style="width: 800px")
          div.span2
            h2 send

   script(src='/bootstrap/js/bootstrap.js')
