!!!
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    style
      body { padding-top: 60px }

    body
      div.container
        block content
        
      script(src='/bootstrap/js/bootstrap.js')